munit/target/classes/munit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="munitFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/munit" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.product]" doc:name="Set Payload"/>
        <flow-ref name="privateflow" doc:name="privateflow"/>
        <choice doc:name="Choice">
            <when expression="flowVars.productName=='DellStudio'">
                <set-payload value="#['1100$']" doc:name="#['1100$']"/>
            </when>
            <otherwise>
                <set-payload value="#['1200$']" doc:name="#['1200$']"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="privateflow">
        <choice doc:name="Choice">
            <when expression="payload =='DellStudio'">
                <flow-ref name="subflow1" doc:name="subflow1"/>
            </when>
            <otherwise>
                <flow-ref name="subflow2" doc:name="subflow2"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="subflow1">
        <set-variable variableName="productName" value="#['DellStudio']" doc:name="Variable"/>
    </sub-flow>
    <sub-flow name="subflow2">
        <set-variable variableName="productName" value="#['OtherProduct']" doc:name="Variable"/>
    </sub-flow>
</mule>
